.card {
    margin: 10px;
    display:inline-block;
    min-width: 320px;
    max-width: 320px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 12px #999;
    background-color: #ffffff;
}

.row .col,.col-md-6{
  padding-bottom: 10px;
}

.card-body.corso{
  cursor: pointer;
}
