<link rel="stylesheet" href="home/home.css">
<div class="d-md-flex h-md-100 align-items-center my-border main-container">

<!-- The Modal -->
  <div id="elencoContestiModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content mx-auto">
      <h3 class="font-weight-bold">Elenco contesti</h3>
      <br>
      <div class="border" style="width: 100%; height: 40%">
      </div>
      <div class="border menu-bar" style="">
        <button class="btn btn-outline-info" title="Crea nuovo contesto" ng-click="aggiungiContesto()"><img src="img/new_rec.jpg"></img></button>
        <button class="btn btn-outline-info" title=""><img src="img/search_by_fogl_lavo.jpg"></img></button>
        <button class="btn btn-outline-info" title="Gestione fotointerpreti"><img src="img/user.png"></img></button>
      </div>
      <br>
      <!-- Tabella contesti -->
      <div class="table-responsive">
        <table ng-show="modaleAperta" class="table table-striped table-bordered" id="table-container">
          <thead>
            <tr>
              <th scope="col" ></th>
              <th scope="col">Numero Elenco</th>
              <th scope="col">Codice</th>
              <th scope="col">Campagna</th>
              <th scope="col">Descrizione</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in listaContesti track by $index">
              <td>
                <button class="btn btn-outline-info contesto-btn" title="Visualizza contesto"><img src="img/dettComu.jpg"></img></button>
                <button class="btn btn-outline-info contesto-btn" title="Modifica contesto"><img src="img/modifica_cons.gif"></img></button>
                <button class="btn btn-outline-info contesto-btn" title="Elimina contesto"><img src="img/delrow.jpg"></img></button>
              </td>
              <td>{{x.numeroElenco}}</td>
              <td>{{x.codice}}</td>
              <td>{{x.campagna}}</td>
              <td>{{x.descrizione}}</td>
            </tr>
            <tr ng-repeat="x in listaContesti track by $index">
              <td>
                <button class="btn btn-outline-info contesto-btn" title="Visualizza contesto"><img src="img/dettComu.jpg"></img></button>
                <button class="btn btn-outline-info contesto-btn" title="Modifica contesto"><img src="img/modifica_cons.gif"></img></button>
                <button class="btn btn-outline-info contesto-btn" title="Elimina contesto"><img src="img/delrow.jpg"></img></button>
              </td>
              <td>{{x.numeroElenco}}</td>
              <td>{{x.codice}}</td>
              <td>{{x.campagna}}</td>
              <td>{{x.descrizione}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

<!-- First Half -->
  <div class="col-sm-4 col-md-4 col-lg-4 p-0 h-md-100 my-border-l">
    <div class="w-100 text-left" id="left-container">

      <div class="card">
        <div class="card-header" id="headingLegenda">
          <p class="mb-0">
            <strong>Legenda</strong>
            <i class="fa fa-chevron-down"></i>
          </p>
        </div>
        <div id="collapseLegenda" class="collapse">
          <div class="card-body">
            <div class='legenda-body'>
              <ul class='legenda-labels'>
                <li><span class="box-validate"></span>Validate</li>
                <li><span class="box-totAssegnate"></span>Totalmente assegnate</li>
                <li><span class="box-parzAssegnate"></span>Parzialmente assegnate</li>
                <li><span class="box-nonAssegnate"></span>Non assegnate</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingDati">
          <p class="mb-0">
              <strong>Dati</strong>
              <i class="fa fa-chevron-down"></i>
          </p>
        </div>

        <div id="collapseDati" class="collapse">
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Regione</label>
              </div>
              <select name="selectRegione" ng-model="selectRegione" class="custom-select">
                <option selected disabled>Regione</option>
                <option ng-repeat="x in listaRegioni" value="{{x.id}}" >{{x.nome}}</option>
              </select>
            </div>
            <div ng-show="selectRegione" class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Provincia</label>
              </div>
              <select name="selectProvincia" ng-model="selectProvincia" class="custom-select">
                <option selected disabled>Provincia</option>
                <option ng-repeat="x in listaProvince[selectRegione]" value="{{x.id}}" >{{x.nome}}</option>
              </select>
            </div>
            <div ng-show="selectProvincia" class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">Comune</label>
              </div>
              <select name="selectComune" ng-model="selectComune" class="custom-select">
                <option selected disabled>Comune</option>
                <option ng-repeat="x in listaComuni[selectProvincia]" value="{{x.id}}" >{{x.nome}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Second Half -->
  <div class="col-sm-8 col-md-8 col-lg-8 p-0 h-md-100 my-border-r">

    <!-- Menù mappa -->
    <div class="border menu-map">
      <button class="btn btn-outline-info" title="Torna alla mappa"><img src="img/italia.jpg"></img></button>
      <button class="btn btn-outline-info" title="Sposta"><img src="img/icon_pan.png"></img></button>
      <button class="btn btn-outline-info" title="Stampa in pdf"><img src="img/printPDF.jpg"></img></button>
      <button class="btn btn-outline-info" title="Caricamento fotointerpreti"><img src="img/upload_csv_Disabled.jpg"></img></button>
      <div class="input-group m-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Grid ID</span>
        </div>
        <input class="form-control">
      </div>
      <button class="btn btn-outline-info" title="Ripristina refresh iniziale"><img src="img/tasto_cancella.gif"></img></button>
      <label>Contesto: </label>
      <div class="menu-map-right h-100">
        <label>Utente: </label>
        <button class="btn btn-outline-info btn-logout" title="Logout"><img src="img/close2.png"></img></button>
      </div>
    </div>

    <!-- Mappa openlayer -->
    <div id="map" class="map" style="height: 92.7vh;"></div>
  </div>

</div>
