<link rel="stylesheet" href="login/login.css">
<br>
<h2 class="font-weight-bold">{{labelCampi.login}}</h2>
<br>
<div class="card w-75 mx-auto">
  <div class="card-body">
    <form name="form">
      <h1> aicForm </h1>
      <img src="img/logo.jpg">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{labelCampi.username}}</span>
        </div>
        <input name="username" ng-model="username" ng-pattern="validaUsername.regExp" required type="text" class="form-control" placeholder={{labelCampi.username}} aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3" id="passDiv">
        <div class="input-group-prepend">
          <span class="input-group-text">{{labelCampi.password}}</span>
        </div>
        <input type="password" name="password" ng-model="password" ng-pattern="validaPassword.regExp" required class="form-control" placeholder={{labelCampi.password}} aria-describedby="basic-addon1">
        <div class="input-group-append">
          <a class="btn btn-outline-primary" ng-click="mostraPass()"><i class="fa fa-eye-slash"></i></a>
        </div>
      </div>
      <button class="btn btn-primary" ng-click="login3()">{{labelCampi.loginBtn}}</button>
      <br><br>
      <div class="error" ng-show="form.$submitted && form.username.$touched && form.username.$error">
        {{getErrorLabel(form.username.$name, form.username.$error)}}
      </div>
      <div class="error" ng-show="form.$submitted && form.password.$touched && form.password.$error">
        {{getErrorLabel(form.password.$name, form.password.$error)}}
      </div>
      <div id="loginError" class="error" style="display:none">
      </div>
    </form>
  </div>
</div>
